{% extends 'Food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

{% block body %}
    {% for food in food_list %}
        <div class="row">
        <div class="col-md-3 offset-md-2">
            <img class="card" src="{{ food.food_image }}">


        </div>
        <div class="col-md-4 offset-1">
            <h3>{{ food.food_name }}</h3>
            <h5>{{ food.food_desc }}</h5>
            <h6>#{{ food.food_price }}</h6>

        </div>
        <div class="col-md-2">
            <a href="{% url 'detail' food.id %}" class="btn btn-primary">View</a>

        </div>


        </div>


    {% endfor %}
{% endblock %}

</body>
</html>